
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <img src="/assets/brand/bootstrap-solid.svg" width="30" height="30" alt="">
  </a>
  <a [(ngModel)]="UserName"  class="navbar-brand" href="#">{{  UserName }}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="search">Produits</a>
      </li>



        <li>
      <form (submit)="SearchUser($event)" class="form-inline">
        <input  class="form-control mr-sm-2 " type="search" placeholder="Recherche" aria-label="Recherche"  >

        <a   (click)="GoSearch()" class="my-2 my-sm-0"  href="#" > <i class="fa fa-search fa-2x" Style="color: #334e60;" aria-hidden="true"></i> </a>

        </form>
        </li>

    </ul>



    <a   (click)="GoPanier()" href="#" class="pull-right" style="margin-right: 1%;"> <i class="fa fa-shopping-basket fa-2x" Style="color: #66c0b7;" aria-hidden="true"></i> </a>
    <a   href="" class="pull-right">  <i class="fa fa-user-circle fa-2x" Style="color : black;" aria-hidden="true"></i>  </a>




  </div>
</nav>

