
<nav class="navbar navbar-expand-lg navbar-light " STYLE="background-color: #E94E1B">
  <a class="navbar-brand" href="#">
    <img  class="card-img-top" width="30" height="10" src="./assets/image/hydrao.pn" alt="">
  </a>
  <a   class="navbar-brand" href="#" style="color:white;" >   Smart&Blue.</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item active">
        <a class="nav-link " style="color:white;" routerLink="/"  > <i class="fa fa-home" aria-hidden="true"></i> Accueil <span class="sr-only">(current)</span></a>
      </li>



      <li class="nav-item">
        <a class="nav-link" *ngIf="LoggedIn=='true'" style="color:white;" routerLink="pannels" > <i class="fa fa-tachometer" aria-hidden="true"></i> Mes panneaux </a>
      </li>





        <li>


        </li>

    </ul>



    <a  href="#"  routerLink="shop"   class="pull-right"  style="margin-right: 3%;color: white;"> <span class="badge badge-pill badge-light" style=""> 3 </span> <i class="fa fa-bell fa-x" Style="color: white;"  aria-hidden="true"></i>  Mes alertes </a>




  </div>
</nav>

