


<br><br>



  <div class="col-md-3  text-white" style="margin: 3%; background-color: #E94E1B;border-radius: 6px;">
    <br>
<a (click)="ViewroomDetail(1)">

    <div class="info-tile tile-black" style="visibility: visible; opacity: 1; display: block; transform: translateY(0px);color: white;">

      <div class="tile-heading text-center ">  Chambre 1   </div>

    </div>
</a>
    <br>
  </div>


  <br>


  <div class="col-md-3  text-white" style="margin: 3%; background-color: #E94E1B;border-radius: 6px;">
    <br>
    <a  (click)="ViewroomDetail(2)"  >

      <div class="info-tile tile-black" style="visibility: visible; opacity: 1; display: block; transform: translateY(0px);color: white;">

      <div class="tile-heading text-center ">  Chambre 2  </div>

    </div>
      </a>
    <br>
  </div>


